﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Book A Property</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css"
          rel="stylesheet"
          type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />

    <!--- Photo slider -->
    <!--Photo slider ends-->


</head>

<body id="page-top">
    <!-- Page Wrapper -->

    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

            <div class="container">
                <div class="row">
                    <div class="col-3">

                        <img class="logo-sidebar" src="~/Content/css/bluelogopro.png" />

                    </div>

                    <div class="col">

                    </div>
                </div>

            </div>
            <!--<div class="input-group">
              <input
                type="text"
                class="form-control bg-light border-0 small"
                placeholder="Search for..."
                aria-label="Search"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>-->
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <!--<li class="nav-item dropdown no-arrow d-sm-none">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="searchDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-search fa-fw"></i>
              </a>-->
            <!-- Dropdown - Messages -->
            <!--<div
                class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown"
              >
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control bg-light border-0 small"
                      placeholder="Search for..."
                      aria-label="Search"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>-->
            <!-- Nav Item - Alerts -->
            <!--<li class="nav-item dropdown no-arrow mx-1">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="alertsDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-bell fa-fw"></i>-->
            <!-- Counter - Alerts -->
            <!--<span class="badge badge-danger badge-counter">3+</span>
            </a>-->
            <!-- Dropdown - Alerts -->
            <!--<div
                class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown"
              >
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold"
                      >A new monthly report is ready to download!</span
                    >
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for
                    your account.
                  </div>
                </a>
                <a
                  class="dropdown-item text-center small text-gray-500"
                  href="#"
                  >Show All Alerts</a
                >
              </div>
            </li>-->
            <!-- Nav Item - Messages -->
            <!--<li class="nav-item dropdown no-arrow mx-1">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="messagesDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-envelope fa-fw"></i>-->
            <!-- Counter - Messages -->
            <!--<span class="badge badge-danger badge-counter">7</span>
            </a>-->
            <!-- Dropdown - Messages -->
            <!--<div
                class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown"
              >
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="https://source.unsplash.com/fn_BT9fwg_E/60x60"
                      alt=""
                    />
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">
                      Hi there! I am wondering if you can help me with a
                      problem I've been having.
                    </div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="https://source.unsplash.com/AU4VPcFN4LE/60x60"
                      alt=""
                    />
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">
                      I have the photos that you ordered last month, how would
                      you like them sent to you?
                    </div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="https://source.unsplash.com/CS2uCrpNzJY/60x60"
                      alt=""
                    />
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">
                      Last month's report looks great, I am very happy with
                      the progress so far, keep up the good work!
                    </div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                      alt=""
                    />
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">
                      Am I a good boy? The reason I ask is because someone
                      told me that people say this to all dogs, even if they
                      aren't good...
                    </div>
                    <div class="small text-gray-500">
                      Chicken the Dog · 2w
                    </div>
                  </div>
                </a>
                <a
                  class="dropdown-item text-center small text-gray-500"
                  href="#"
                  >Read More Messages</a
                >
              </div>
            </li>-->

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="userDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                    <img class="img-profile rounded-circle"
                         src="~/Content/css/bluelogopro.png" />
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <!--<a class="dropdown-item" href="#">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      Profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Settings
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                      Activity Log
                    </a>-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="#"
                       data-toggle="modal"
                       data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
            id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <hr>

            <!-- Divider -->
            <hr class="sidebar-divider my-0" />

            <!-- Nav Item - Dashboard -->
            <li class="nav-item ">
                <a class="nav-link" href="userDashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>My Profile</span>
                </a>
            </li>
            <hr class="sidebar-divider my-0" />
            <div class="sidebar-heading">
                Properties
            </div>
            <li class="nav-item active">
                <a class="nav-link"
                   data-toggle="collapse"
                   data-target="#collapseTwo"
                   aria-expanded="true"
                   aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>KGC</span>
                </a>
                <div id="collapseTwo"
                     class="collapse show"
                     aria-labelledby="headingTwo"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Projects</h6>
                        <a class="collapse-item" href="bookProperty">Palm Dreams</a>
                        <a class="collapse-item active" href="bookProperty">Palm Villas</a>
                        <a class="collapse-item active" href="bookProperty">Palm Dream Farmhouse</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <!--<hr class="sidebar-divider" />-->
            <!-- Heading -->
            <!--<div class="sidebar-heading">
              Interface
            </div>-->
            <!-- Nav Item - Pages Collapse Menu -->
            <!--<li class="nav-item">
              <a
                class="nav-link collapsed"
                href="#"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                <i class="fas fa-fw fa-cog"></i>
                <span>Components</span>
              </a>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordionSidebar"
              >
                <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Custom Components:</h6>
                  <a class="collapse-item" href="buttons.html">Buttons</a>
                  <a class="collapse-item" href="cards.html">Cards</a>
                </div>
              </div>
            </li>-->
            <!-- Nav Item - Utilities Collapse Menu -->
            <!--<li class="nav-item">
              <a
                class="nav-link collapsed"
                href="#"
                data-toggle="collapse"
                data-target="#collapseUtilities"
                aria-expanded="true"
                aria-controls="collapseUtilities"
              >
                <i class="fas fa-fw fa-wrench"></i>
                <span>Utilities</span>
              </a>
              <div
                id="collapseUtilities"
                class="collapse"
                aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar"
              >
                <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Custom Utilities:</h6>
                  <a class="collapse-item" href="utilities-color.html">Colors</a>
                  <a class="collapse-item" href="utilities-border.html">Borders</a>
                  <a class="collapse-item" href="utilities-animation.html"
                    >Animations</a
                  >
                  <a class="collapse-item" href="utilities-other.html">Other</a>
                </div>
              </div>
            </li>-->
            <!-- Divider -->
            <!--<hr class="sidebar-divider" />-->
            <!-- Heading -->
            <!--<div class="sidebar-heading">
              Addons
            </div>-->
            <!-- Nav Item - Pages Collapse Menu -->
            <!--<li class="nav-item active">
              <a
                class="nav-link"
                href="#"
                data-toggle="collapse"
                data-target="#collapsePages"
                aria-expanded="true"
                aria-controls="collapsePages"
              >
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
              </a>
              <div
                id="collapsePages"
                class="collapse show"
                aria-labelledby="headingPages"
                data-parent="#accordionSidebar"
              >
                <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Login Screens:</h6>
                  <a class="collapse-item" href="login.html">Login</a>
                  <a class="collapse-item" href="register.html">Register</a>
                  <a class="collapse-item" href="forgot-password.html"
                    >Forgot Password</a
                  >
                  <div class="collapse-divider"></div>
                  <h6 class="collapse-header">Other Pages:</h6>
                  <a class="collapse-item" href="404.html">404 Page</a>
                  <a class="collapse-item active" href="blank.html"
                    >Admin Dashboard</a
                  >
                </div>
              </div>
            </li>-->
            <!-- Nav Item - Charts -->
            <!--<li class="nav-item">
              <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a
              >
            </li>-->
            <!-- Nav Item - Tables -->
            <!--<li class="nav-item">
              <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a
              >
            </li>-->
            <!-- Divider -->
            <!--<hr class="sidebar-divider d-none d-md-block" />-->
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 text-center">Book A Property</h1>

                    <div class="col-lg-12">
                        <!-- Default Card Example -->
                        <div class="card mb-4">
                            <div class="card-header" style=" font-family Poppins;">
                                Property Details
                            </div>
                            <div class="card-body">

                                <!--Forms Starts here-->
                                <form class="user">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text"
                                                   class="form-control form-control-user"
                                                   placeholder="Project Name"
                                                   disabled />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text"
                                                   class="form-control form-control-user"
                                                   placeholder="Project Category"
                                                   disabled />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text"
                                                   class="form-control form-control-user"
                                                   placeholder="Plot Size"
                                                   disabled />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text"
                                                   class="form-control form-control-user"
                                                   placeholder="Plot View"
                                                   disabled />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">

                                            <input type="text"
                                                   class="form-control form-control-user"
                                                   placeholder="Price of Plot"
                                                   disabled />
                                        </div>


                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">

                                            <textarea type="text"
                                                      class="form-control form-control-user"
                                                      placeholder="Details of Plot"
                                                      disabled></textarea>
                                        </div>

                                    </div>
                            </div>

                            <br />

                            <hr />
                            <!---Photo Slider-->
                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">
                                        <!--Carousel Wrapper-->
                                        <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                                            <!--Indicators-->
                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                                                <li data-target="#carousel-example-2" data-slide-to="2"></li>
                                            </ol>
                                            <!--/.Indicators-->
                                            <!--Slides-->
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <div class="view">
                                                        <img class="d-block w-100" src="~/Content/css/images.jpg" alt="First slide">
                                                        <div class="mask rgba-black-light"></div>
                                                    </div>

                                                </div>
                                                <div class="carousel-item">
                                                    <!--Mask color-->
                                                    <div class="view">
                                                        <img class="d-block w-100" src="~/Content/UploadImages/cTotWK.png" alt="Second slide"> @*https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg*@
                                                        <div class="mask rgba-black-strong"></div>
                                                    </div>

                                                </div>
                                                <div class="carousel-item">
                                                    <!--Mask color-->
                                                    <div class="view">
                                                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                                                        <div class="mask rgba-black-slight"></div>
                                                    </div>
                                                    <!----
                                                    <div class="carousel-caption">
                                                      <h3 class="h3-responsive">Slight mask</h3>
                                                      <p>Third text</p>
                                                    </div>-->
                                                </div>
                                            </div>
                                            <!--/.Slides-->
                                            <!--Controls-->
                                            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                            <!--/.Controls-->
                                        </div>
                                        <!--/.Carousel Wrapper-->

                                    </div>
                                </div>
                            </div>
                            <!-- Photo Slider ends here-->
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">
                                        <a class="btn btn-default" href="#" data-toggle="modal" data-target="#bookpropertyModal">
                                            Request A Book
                                        </a>
                                    </div>
                                    <br />
                                    <br>
                                </div>
                            </div>

                        </div>

                        </form>
                        <!--form ends here-->
                    </div>
                </div>

                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            &copy; Square Foot Exchange Pro 2020. All Rights
                            Reserved.
                        </span>
                    </div>
                </div>
            </footer>

            <!--<footer class="sticky-footer bg-white">
              <div class="container my-auto">
                <div class="row">
                  <div class="col-4">
                      <i class="fa fa-map-marker" style="font-size: 30px;"> </i>
                      <i>
                        B-6(A), Miran Muhammad Shah Road, M.A.C.H.S, Karachi
                      </i>
                    </div>

                    <div class="col-4">
                      <i class="fa fa-phone" style="font-size: 30px;"></i>
                      <i>Mobile: 03217782739 Phone: 0213-4542277-8</i>
                    </div>

                    <div class="col-4">
                      <i class="fa fa-envelope" style="font-size: 20px;"></i>
                      <i>info@squarefootexchange.com</i>
                    </div>

                </div>
              </div>
            </footer>-->
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade"
         id="logoutModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary"
                            type="button"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <a class="btn btn-primary" href="../Home/Index">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Property booking request modal-->
    <div class="modal fade"
         id="bookprocessmodal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thank you</h5>
                    <button class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Your request to book this property is under process now. You will be notified through email upon approval/rejection.
                </div>
                <div class="modal-footer">

                    <a class="btn btn-primary" href="BookProperty">Close</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Book Property Modal-->
    <div class="modal fade"
         id="bookpropertyModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Request For Booking</h5>
                    <button class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!----
                    <form name="BookPropertyForm" class="needs-validation" novalidates  role="form" data-toggle="validator">
                      <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0" >
                          <input
                            type="text"
                            class="form-control form-control-user"
                            placeholder="Client Name*"
                            id="txtcname"
                            required="required"
                            data-error="Please enter your Client name."
                          />
                        </div>
                        <div class="col-sm-6">
                          <input
                            type="text"
                            class="form-control form-control-user"
                            placeholder="Client Email"
                            id="txtcemail"
                            required
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <input
                            type="text"
                            class="form-control form-control-user"
                            placeholder="Client Contact Number*"
                            id="txtcnumber"
                            required="required" data-error="Please enter your Client Contact."
                          />
                        </div>
                        <div class="col-sm-6">
                          <input
                            type="text"
                            class="form-control form-control-user"
                            placeholder="Agent ID*"
                            id="txtagentid"
                            disabled
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col">
                          <select class="form-control form-control-user" name="Payment Plan" id="txtplan">
                            <option value="0">--Select Your Payment Plan--</option>
                            <option value="20%">20%</option>
                            <option value="30%">30%</option>
                            <option value="40%">40%</option>
                            <option value="50%">50%</option>
                            <option value="Full">Full</option>
                          </select>
                        </div>
                      </div>
                      FOrmssss-->
                    <form name="contentForm" enctype="multipart/form-data" method="" action="" role="form" data-toggle="validator" novalidate="true">
                        <div class="form schedule-assessment">
                            <div class="row margin-top-l">
                                <div class="form-group col-md-6">
                                    <label for="client_name" class="sr-only">Client Name: </label>
                                    <input name="client_name" id="client_full_name" placeholder="Client name" type="text" value="" required="required" class="form-control form-control-user" data-error="Please enter your Client name.">
                                    <div class="help-block with-errors"></div>
                                </div><!-- close col-->
                                <div class="form-group col-md-6">
                                    <label for="client_phone_number" class="sr-only">Client Phone Number: </label>
                                    <input name="client_phone_number" id="client_phone_number" placeholder="Client Phone number" type="text" value="" required="required" class="form-control form-control-user" data-error="Please enter your Client phone number">
                                    <div class="help-block with-errors"></div>
                                </div><!-- close col-->
                            </div><!-- close row-->

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="client_email" class="sr-only">Client Email Address: </label>
                                    <input name="client_email" id="client_email" placeholder="Client Email Address" type="email" value="" required="required" class="form-control form-control-user" data-error="Please enter a valid email.">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="select_options" class="sr-only propdropdown">Select your payment plan </label>
                                    <select name="select_options" class="propdropdown" required="required" data-error="Please select one option.">
                                        <option value="">Select your payment plan</option>
                                        <option value="20%">20%</option>
                                        <option value="30%">30%</option>
                                        <option value="40%">40%</option>
                                        <option value="50%">50%</option>
                                        <option value="Full">Full</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div><!-- close row-->

                            <div class="row">
                                <div class="form-group col-md-12">

                                </div>
                            </div>
                            <!-- close row-->
                            <div class="form-group text-center">

                                <input class="submit center-block btn btn-default" value="Book Now" type="submit" id="btnbooknow">
                            </div>
                        </div>

                </div>
                <!----
                <div class="modal-footer">
                  <button
                    class="btn btn-secondary"
                    type="button"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <a class="btn btn-primary" type="submit" href="" onclick="sendRequest()">Submit</a>
                </div>--->
            </div>
        </div>
    </div>

    <!--modal for error-->



    <div class="modal fade"
         id="errorpopup"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary"
                            type="button"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <a class="btn btn-primary" href="../Home/Index">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="popup"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Your request to book this property is under process now. You will be notified through email upon approval/rejection.
                </div>
                <!--div class="modal-footer">
                  <button
                    class="btn btn-secondary"
                    type="button"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <a class="btn btn-primary" href="login.html">Logout</a>
                </div>-->
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <!--js file added-->
    <script src="~/Content/js/project-table.js"></script>

    <!--- Book modal js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>



</body>
</html>
