﻿@model TestPortalPro.Models.signup

@using TestPortalPro.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>User Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css"
          rel="stylesheet"
          type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
    <style>
        @@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

        body {
            font-family: 'Open Sans', sans-serif;
            font-family: 'Montserrat', sans-serif;
        }

        input[type="text"], input[type="email"] {
            font-size: 1.6rem;
            color: #010100;
            width: 100%;
            line-height: 65px;
            padding-left: 3rem;
        }

        select {
            width: 100%;
            height: 65px;
            color: #010100;
            padding-left: 3rem;
        }

        .h1, h1 {
            font-size: 36px;
        }

        .h1, .h2, .h3, h1, h2, h3 {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .text-white {
            color: #fff !important;
        }

        .font-w400 {
            font-weight: 400;
        }

        .padding-top-xl {
            padding-top: 5rem !important;
        }

        .padding-bottom-xl {
            padding-bottom: 5rem !important;
        }

        .margin-top-m {
            margin-top: 3rem !important;
        }

        .margin-bottom-m {
            margin-bottom: 3rem !important;
        }

        .section5 h2 {
            line-height: 35px;
        }

        .section5 p {
            font-size: 16px;
            line-height: 26px;
        }

        .has-error input[type="text"], .has-error input[type="email"], .has-error select {
            border: 1px solid #a94442;
        }
    </style>
</head>

<body id="page-top">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

            <div class="container">
                <div class="row">
                    <div class="col-3">

                        <img class="logo-sidebar" src="~/Content/css/bluelogopro.png" />

                    </div>

                    <div class="col">

                    </div>
                </div>



                <!--<div class="input-group">
                  <input
                    type="text"
                    class="form-control bg-light border-0 small"
                    placeholder="Search for..."
                    aria-label="Search"
                    aria-describedby="basic-addon2"
                  />
                  <div class="input-group-append">-->
                <!--<button class="btn btn-primary" type="button">-->
                <!--<i class="fas fa-search fa-sm"></i>-->
                <!--</button>
                  </div>
                </div>-->
            </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="searchDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control bg-light border-0 small"
                                   placeholder="Search for..."
                                   aria-label="Search"
                                   aria-describedby="basic-addon2" />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="alertsDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <!---- <i class="fas fa-bell fa-fw"></i>-->
                    <!-- Counter - Alerts
                      <span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            Alerts Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 12, 2019</div>
                                <span class="font-weight-bold">A new monthly report is ready to download!</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 7, 2019</div>
                                $290.29 has been deposited into your account!
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 2, 2019</div>
                                Spending Alert: We've noticed unusually high spending for
                                your account.
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500"
                           href="#">Show All Alerts</a>
                    </div>
            </li>

            <!-- Nav Item - Messages -->
            <!----
            <li class="nav-item dropdown no-arrow mx-1">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="messagesDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages
              <div
                class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown"
              >
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="https://source.unsplash.com/fn_BT9fwg_E/60x60"
                      alt=""
                    />
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">
                      Hi there! I am wondering if you can help me with a
                      problem I've been having.
                    </div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="https://source.unsplash.com/AU4VPcFN4LE/60x60"
                      alt=""
                    />
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">
                      I have the photos that you ordered last month, how would
                      you like them sent to you?
                    </div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="https://source.unsplash.com/CS2uCrpNzJY/60x60"
                      alt=""
                    />
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">
                      Last month's report looks great, I am very happy with
                      the progress so far, keep up the good work!
                    </div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                      alt=""
                    />
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">
                      Am I a good boy? The reason I ask is because someone
                      told me that people say this to all dogs, even if they
                      aren't good...
                    </div>
                    <div class="small text-gray-500">
                      Chicken the Dog · 2w
                    </div>
                  </div>
                </a>
                <a
                  class="dropdown-item text-center small text-gray-500"
                  href="#"
                  >Read More Messages</a
                >
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>--->
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="userDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hamza</span>
                    <img class="img-profile rounded-circle"
                         src="https://source.unsplash.com/QAB-WJcbgJk/60x60" />
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">

                    <!--<a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                      </a>
                      <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                      </a>
                      <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                      </a>--->
                    <!--<div class="dropdown-divider"></div>--->
                    <a class="dropdown-item"
                       href="../Home/Index"
                       data-toggle="modal"
                       data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
            id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <!-- Divider -->
            <hr class="sidebar-divider my-0" />

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="userDashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>My Profile</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider" />

            <!-- Heading -->
            <div class="sidebar-heading">
                Properties
            </div>

            <!-- Nav Item - Pages Collapse Menu -->

            @{
                var data = ViewBag.Message;
                var pjc = ViewBag.category;
            }
            @*<li class="nav-item ">
                    <a class="nav-link collapsed"
                       data-toggle="collapse"
                       data-target="#collapseTwo"
                       aria-expanded="true"
                       aria-controls="collapseTwo"
                      >
                        @*<i class="fas fa-fw fa-cog"></i>*
                        <span>For Sale</span>
                    </a>
                    <div
                         class="collapse show"
                         aria-labelledby="headingTwo"
                         data-parent="#accordionSidebar"
                         >
                        <div class="bg-white py-2 collapse-inner rounded" >
                            <h6 class="collapse-header">Projects</h6>
                            <a class="collapse-item active" href="bookProperty" >@data[0].project_name</a>
                            <a class="collapse-item active" href="bookProperty">Palm Villas</a>
                            <a class="collapse-item active" href="bookProperty">Palm Dream Farmhouse</a>*
                        </div>
                    </div>
                </li>*@

            <!-- Nav Item - Utilities Collapse Menu -->


            @foreach (var item in data)
            {
                <li class="nav-item">


                    <a class="nav-link collapsed"
                       href="projectinfo"
                       data-toggle=""
                       data-target="#collapseUtilities"
                       aria-expanded="true"
                       aria-controls="collapseUtilities"
                       id="prjlist">
                        @*<i class="fas fa-fw fa-wrench"></i>*@
                        <span id="prjinnerlist">@item</span>
                    </a>

                    <div id="collapseUtilities"
                         class="collapse"
                         aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">


                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Custom Utilities:</h6>

                            @foreach (var category in pjc)
                            {
                                <a class="collapse-item" href="utilities-color.html">@category</a>
                                <div id="collapseUtilities"
                                     class="collapse"
                                     aria-labelledby="headingUtilities"
                                     data-parent="#accordionSidebar">


                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <h6 class="collapse-header">Custom Utilities:</h6>



                                        <a class="collapse-item" href="utilities-color.html">1200000</a>


                                        @*<a class="collapse-item" href="utilities-border.html">Borders</a>
                                            <a class="collapse-item" href="utilities-animation.html">Animations</a>
                                            <a class="collapse-item" href="utilities-other.html">Other</a>*@
                                    </div>

                                </div>
                            }

                            @*<a class="collapse-item" href="utilities-border.html">Borders</a>
                                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                                <a class="collapse-item" href="utilities-other.html">Other</a>*@
                        </div>

                    </div>
                </li>
            }



            <!-- Divider -->
            <hr class="sidebar-divider" />

            <!-- Heading -->
            <!--<div class="sidebar-heading">
              Addons
            </div>--->
            <!-- Nav Item - Pages Collapse Menu -->
            <!----
            <li class="nav-item">
              <a
                class="nav-link collapsed"
                href="#"
                data-toggle="collapse"
                data-target="#collapsePages"
                aria-expanded="true"
                aria-controls="collapsePages"
              >
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
              </a>
              <div
                id="collapsePages"
                class="collapse"
                aria-labelledby="headingPages"
                data-parent="#accordionSidebar"
              >
                <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Login Screens:</h6>
                  <a class="collapse-item" href="login.html">Login</a>
                  <a class="collapse-item" href="register.html">Register</a>
                  <a class="collapse-item" href="forgot-password.html"
                    >Forgot Password</a
                  >
                  <div class="collapse-divider"></div>
                  <h6 class="collapse-header">Other Pages:</h6>
                  <a class="collapse-item" href="404.html">404 Page</a>
                  <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
              </div>
            </li>

            <!-- Nav Item - Charts
            <li class="nav-item">
              <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a
              >
            </li>

            <!-- Nav Item - Tables
            <li class="nav-item">
              <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a
              >
            </li>--->
            <!-- Divider
            <hr class="sidebar-divider d-none d-md-block" />--->
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">User Dashboard</h1>
                    </div>

                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                $40,000
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <!------
                        <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                  <div
                                    class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                  >
                                    Earnings (Annual)
                                  </div>
                                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    $215,000
                                  </div>
                                </div>
                                <div class="col-auto">
                                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>--->
                        <!-- Tasks Card Example -->
                        <!----
                        <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                  <div
                                    class="text-xs font-weight-bold text-info text-uppercase mb-1"
                                  >
                                    Tasks
                                  </div>
                                  <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                      <div
                                        class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                                      >
                                        50%
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="progress progress-sm mr-2">
                                        <div
                                          class="progress-bar bg-info"
                                          role="progressbar"
                                          style="width: 50%;"
                                          aria-valuenow="50"
                                          aria-valuemin="0"
                                          aria-valuemax="100"
                                        ></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-auto">
                                  <i
                                    class="fas fa-clipboard-list fa-2x text-gray-300"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>--->
                        <!-- Pending Requests Card Example -->
                        <!-----
                        <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                  <div
                                    class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                                  >
                                    Pending Requests
                                  </div>
                                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    18
                                  </div>
                                </div>
                                <div class="col-auto">
                                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>---->
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Default Card Example -->
                            <div class="card mb-4">
                                <div class="card-header" style=" font-family Poppins;">
                                    My Profile
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <!---Profile picture section-
                                        <div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>
                                        <form class="form form-vertical" action="/site/avatar-upload/2" method="post" enctype="multipart/form-data">  -->
                                        <!---- <div class="col text-center">
                                        <img src="css/bluelogopro.png" class="rounded-circle profile-pic-form " alt="Profile Picture" >--->
                                        <!---<input type="file" id="myFile" name="filename">--->
                                        <!-----
                                          <div class="row">
                                            <div class="col-sm-4 text-center">
                                                <div class="kv-avatar">
                                                    <div class="file-loading">
                                                        <input id="avatar-2" name="avatar-2" type="file" required>
                                                    </div>
                                                </div>
                                                <div class="kv-avatar-hint">
                                                    <small>Select file</small>
                                                </div>
                                            </div>
                                            </div>
                                          </form>
                                        </div>


                                        </div>
                                        </div> --->
                                        <!--Forms Starts here-->
                                        <form class="user">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">

                                                    @Html.TextBoxFor(model => model.fname, new { @class = "form-control form-control-user", @placeholder = "First Name", @id = "txtfname", @required = "true" })

                                                    @*<input type="text"
                                                        class="form-control form-control-user"
                                                        id="exampleFirstName"
                                                        placeholder="First Name" />*@
                                                </div>
                                                <div class="col-sm-6">

                                                    @Html.TextBoxFor(model => model.lname, new { @class = "form-control form-control-user", @placeholder = "Last Name", @id = "txtlname", @required = "true" })

                                                    @*<input type="text"
                                                        class="form-control form-control-user"
                                                        id="exampleLastName"
                                                        placeholder="Last Name" />*@
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                @Html.TextBoxFor(model => model.email, new { @class = "form-control form-control-user", @placeholder = "Email Address", @id = "txtemail", @required = "true", @disabled = "true" })

                                                @*<input type="email"
                                                    class="form-control form-control-user"
                                                    id="exampleInputEmail"
                                                    placeholder="Email Address" />*@
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">

                                                    @Html.TextBoxFor(model => model.cnic, new { @class = "form-control form-control-user", @placeholder = "CNIC or Passport", @id = "txtcnic", @required = "true", @disabled = "true" })

                                                    @*<input type="text"
                                                        class="form-control form-control-user"
                                                        id="exampleCNIC"
                                                        placeholder="CNIC or Passport" />*@
                                                    <br />

                                                    @Html.TextBoxFor(model => model.city, new { @class = "form-control form-control-user", @placeholder = "City of Residence", @id = "txtcity", @required = "true" })


                                                    @*<input type="text"
                                                        class="form-control form-control-user"
                                                        id="exampleCity"
                                                        placeholder="City of Residence" />*@
                                                    <br>

                                                    @Html.TextBoxFor(model => model.password, new { @class = "form-control form-control-user", @placeholder = "Current Password", @id = "txtpass", @required = "true" })


                                                    @*<input type="currentpassword"
                                                        class="form-control form-control-user"
                                                        id="exampleCurrentPassword"
                                                        placeholder="Current Password" />*@
                                                    <br />
                                                </div>
                                                <div class="col-sm-6">

                                                    @Html.TextBoxFor(model => model.dob, new { @class = "form-control form-control-user", @placeholder = "Date of Birth", @id = "txtdob", @required = "true", @disabled = "true" })

                                                    @*<input type="text"
                                                        class="form-control form-control-user"
                                                        id="exampleDOB"
                                                        placeholder="Date of Birth" />*@
                                                    <br />

                                                    @Html.TextBoxFor(model => model.profession, new { @class = "form-control form-control-user", @placeholder = "Profession", @id = "txtprofession", @required = "true" })

                                                    @*<input type="text"
                                                        class="form-control form-control-user"
                                                        id="exampleProfession"
                                                        placeholder="Your Profession" />*@
                                                    <br>


                                                    @*<input type="newpassword"
                                                        class="form-control form-control-user"
                                                        id="exampleNewPassword"
                                                        placeholder="New Password" />*@<br />
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col text-center">
                                                        <button class="btn btn-default">Update Profile</button>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>

                                    </form>
                                    <!--form ends here-->
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <!-----
                            <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">
                                  Basic Card Example
                                </h6>
                              </div>
                              <div class="card-body">
                                The styling for this basic card example is created by using
                                default Bootstrap utility classes. By using utility classes,
                                the style of the card component can be easily modified with
                                no need for any custom CSS!
                              </div>
                            </div>---->
                        </div>

                        <div class="col-lg-12">
                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <!-----
                                  <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                  >
                                    <h6 class="m-0 font-weight-bold text-primary">
                                      Dropdown Card Example
                                    </h6>
                                    <div class="dropdown no-arrow">
                                      <a
                                        class="dropdown-toggle"
                                        href="#"
                                        role="button"
                                        id="dropdownMenuLink"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                      >
                                        <i
                                          class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"
                                        ></i>
                                      </a>
                                      <div
                                        class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink"
                                      >
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"
                                          >Something else here</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                   Card Body
                                  <div class="card-body">
                                    Dropdown menus can be placed in the card header in order to
                                    extend the functionality of a basic card. In this dropdown
                                    card example, the Font Awesome vertical ellipsis icon in the
                                    card header can be clicked on in order to toggle a dropdown
                                    menu.
                                  </div>
                                </div>-->
                                <!-- Collapsable Card Example -->
                                <!-----
                                <div class="card shadow mb-4">
                                  <!-- Card Header - Accordion --
                                  <a
                                    href="#collapseCardExample"
                                    class="d-block card-header py-3"
                                    data-toggle="collapse"
                                    role="button"
                                    aria-expanded="true"
                                    aria-controls="collapseCardExample"
                                  >
                                    <h6 class="m-0 font-weight-bold text-primary">
                                      Collapsable Card Example
                                    </h6>
                                  </a>
                                  <!-- Card Content - Collapse --
                                  <div class="collapse show" id="collapseCardExample">
                                    <div class="card-body">
                                      This is a collapsable card example using Bootstrap's built
                                      in collapse functionality.
                                      <strong>Click on the card header</strong> to see the card
                                      body collapse and expand!
                                    </div>
                                  </div>
                                </div>---->
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; SquareFootExchange Pro 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade"
             id="logoutModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close"
                                type="button"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Select "Logout" below if you are ready to end your current session.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary"
                                type="button"
                                data-dismiss="modal">
                            Cancel
                        </button>
                        <a class="btn btn-primary" href="../Home/Index">Logout</a>
                    </div>
                </div>
            </div>
        </div>




        <!-- Bootstrap core JavaScript-->
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Content/js/sb-admin-2.min.js"></script>
        <script src="~/Content/js/project-table.js"></script>
</body>
</html>