﻿@model TestPortalPro.Models.usr_login

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

@*<@*div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@


<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Remember to include jQuery :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SFEX-Pro</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />

    <style>
        #myModal2 {
            position: fixed;
            width: 60%;
            height: 10%;
            margin-top: 10%;
            margin-left: 20%;
        }

        .modal2 {
            background: none;
        }

        /*#myModal3 {
            position: fixed;
            width: 60%;
            height: 10%;
            margin-top: 10%;
            margin-left: 20%;
            overflow-y: hidden;
            z-index:3000;
        }*/

        #myModal4 {
            position: fixed;
            width: 60%;
            height: 10%;
            margin-top: 10%;
            margin-left: 20%;
        }

        .modal3 {
            background: none;
        }

        .modal-dialog {
            position: static;
        }
    </style>


</head>

<body class="bg-gradient-primary">
    <div class="container">
        
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {

        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-4">
                <div class="col-md-12 col-lg-10">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Become A Pro</h1>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                @*<input type="email"
                                                       class="form-control form-control-user"
                                                       id="exampleInputEmail"
                                                       aria-describedby="emailHelp"
                                                       placeholder="Enter Email Address..." />*@
                                                @Html.TextBoxFor(model => model.email, new { @class = "form-control form-control-user", @placeholder = "Enter your Email", @id = "txtusrname", @required = "true" })
                                            </div>
                                            <div class="form-group">
                                                @*<input type="password"
                                                       class="form-control form-control-user"
                                                       id="exampleInputPassword"
                                                       placeholder="Password" />
                                            </div>*@
                                                @Html.TextBoxFor(model => model.password, new { @class = "form-control form-control-user", @type="password" ,@placeholder = "Enter your Password", @id = "txtusrpass", @required = "true" })
                                                <br />

                                            <button 
                                               class="btn btn-primary btn-user btn-block">
                                                Login
                                            </button>
                                        </form>
                                        <hr />
                                        <div class="text-center">
                                            <a class="small" href="../Signup/forgotPassword">Forgot Password?</a> @*../Signup/forgotPassword*@
                                        </div>
                                        <hr />
                                        <div class="text-center">
                                            <a class="btn btn-primary btn-user btn-block"
                                               href="../Signup/Register">Create an Account!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }

        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">

            window.onload = function () {
                 show_err_alert_js("@ViewBag.Message");

            };

            </script>
        }


    </div>

    <!-- Logout Modal-->
    <div class="modal3 fade"
          id="myModal3"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please try again!</h5>
                    <button class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="">
                    The Email/Password is incorrect.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary"
                            type="button"
                            data-dismiss="modal">
                        OK
                    </button>
                    @*<a class="btn btn-primary" href="login.html">Logout</a>*@
                </div>
            </div>
        </div>
    </div>

    @*Popup Start 
    <div class="modal3 fade" id="myModal3" data-backdrop="static" role="dialog">
        <p class="alert alert-danger"> <span id="error-msg"></span> <button type="button" class="close" data-dismiss="modal">×</button></p>
    </div>
    @* Popup End*@


    @*Popup Start 
    <div class="modal3 fade" id="myModal3" data-backdrop="static" role="dialog">
        <p class="alert alert-success"> <span id="suc-msg"></span> <button type="button" class="close" data-dismiss="modal">×</button></p>
    </div>
    @* Popup End*@

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <script src="~/Content/js/project-table.js"></script>
    @*<script>
        $('#logoutModal').on('show.bs.modal', function (e) {
            $('#IsModalShown').val(true);
        })
        $(function(){
    @if(Model.IsModalShown)
    {
        $('#logoutModal').modal('show');
    }
        });
    </script>*@
  
</body>
</html>
