﻿@model TestPortalPro.Models.usr_login

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Reset Password</title>

    <!-- Custom fonts for this template-->
    <link
      href="~/Content/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>

  <body class="bg-gradient-primary">
@using (Html.BeginForm("resetpassword", "Signup", FormMethod.Post))
{
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-4">
          <div class="col-md-12 col-lg-10">
            <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                  <div class="col-lg-6">
                    <div class="p-5">
                      <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">
                          Reset your Password
                        </h1>
                      </div>
                      <form class="user">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control form-control-user", @placeholder = "Email", @id = "txtconfrmpass", @type ="email", @readonly = "true" })


                        </div>
                        <div class="form-group">
                          @Html.TextBoxFor(model => model.password, new { @class = "form-control form-control-user", @placeholder = "New Password", @id = "txtconfrmpass", @type = "password", @required = "true" })

                        </div>
                          <div class="form-group">
                              @Html.TextBoxFor(model => model.delind, new { @class = "form-control form-control-user", @placeholder = "Confirm Password", @id = "txtconfrmpass", @type = "password", @required = "true" })

                          </div>

                        <button                         
                          class="btn btn-primary btn-user btn-block">
                          Reset
                        </button>
                      </form>

                      <hr />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      }

      @if (ViewBag.Message != null)
      {
          <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");

            };
          </script>
      }


    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>
  </body>
</html>
