﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SFEX-Pro</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css"
          rel="stylesheet"
          type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-6">
                <div class="col-md-12 col-lg-12">
                    <div class="card o-hidden border-1 shadow-lg my-4">
                        <div class="card-body p-4">
                            <!-- Nested Row within Card Body -->

                            <div class="text-center">
                                <h1 class="text-center"
                                    style="font-family: Poppins; font-weight: bold;">
                                    Terms & Conditions
                                </h1>
                                <br />
                                <p class="text-center" style="font-family: Poppins;">
                                    Welcome to Square Foot Exchange – an online property
                                    investment & management portal. Please go through the
                                    following terms and conditions carefully before signing up
                                    to become a Pro with Square Foot Exchange. In order to sell
                                    properties through Square Foot Exchange, you need to ensure
                                    that you meet the following criteria and fully agree to our
                                    terms and conditions. In these Terms, “Square Foot
                                    Exchange”,“we”, “us”, “our”, “the team” or “the company”
                                    refers to Square Foot Exchange and “the remote sales agent”,
                                    “agent” “you” or ““your” refers to you, the user signing up
                                    on our portal to become a remote sales agent or as well call
                                    it, a “pro”.
                                </p>
                                <p class="text-left" style="font-family: Poppins;">
                                    1.The remote sales agent hereby warrants Square Foot
                                    Exchange that they are least eighteen years of age and
                                    legally able to enter into contracts. <br /><br />2.The
                                    remote sale agent’s Registration Details and data relating
                                    to its use of the Website will be recorded by Square Foot
                                    Exchange but this information shall not be disclosed to
                                    third parties (otherwise than on an aggregated, anonymous
                                    basis). <br /><br />3.The remote sales agent hereby agrees
                                    that they are not a current employee of Square Foot Exchange
                                    or KGC Properties. <br /><br />4.The remote sales agent
                                    shall not accept any direct payments from the customer and
                                    strictly follow the payment guidelines and procedures
                                    directed by Square Foot Exchange. No direct payments to the
                                    agent shall be accepted. <br /><br />5.The remote sales
                                    agent hereby agrees that they are only eligible to
                                    commission once after a sale has been made and initial
                                    deposit/down payment has been submitted to the property
                                    owner. Once the deposit/down payment is received, in
                                    accordance with the payment plan provided to the remote
                                    sales agent, Square Foot Exchange will begin processing the
                                    agent’s commission.<br /><br />
                                    6.The remote sales agent hereby agrees that Square Foot
                                    Exchange reserves the right to deny or accept any
                                    prospective sale.<br /><br />
                                    7.The remote sales agent shall identify itself as an
                                    authorized Agent of Square Foot Exchange only with respect
                                    to selling the designated and authorized properties, and
                                    shall otherwise identify itself as an independent
                                    operator.<br /><br />
                                    8.The remote sales agent shall not slander or libel Square
                                    Foot Exchange or its affiliates or employees or vendors or
                                    their products or services, nor shall Agent slander or libel
                                    Square Foot Exchange’s competitors or the services or
                                    products of such competitors. <br /><br />9.The remote sales
                                    agent shall avoid deceptive, misleading or unethical
                                    practices, and shall refrain from making any false or
                                    misleading representations, which are or might be
                                    detrimental to Square Foot Exchange, its affiliates, its
                                    employees, its products or services. <br /><br />10.Square
                                    Foot Exchange reserves the right to contact directly any
                                    customer to whom the agent has sold properties to determine
                                    their satisfaction with the remote sales agent.
                                    <br /><br />11.Square Foot Exchange has consented to the
                                    remote sales agent’s use of Square Foot Exchange’s name and
                                    details for the purpose of selling certain third party
                                    properties that Square Foot Exchange has selling rights to.
                                    Agent agrees to use Square Foot Exchange’s name and details
                                    without alteration.<br /><br />
                                    12.The remote sales agent, at any time on request of Square
                                    Foot Exchange or termination of this Agreement, shall
                                    immediately cease using Square Foot Exchange’s name and
                                    authority in any activities.<br /><br />
                                    13.This Agreement contains the entire understanding of the
                                    parties including any and all prior and contemporaneous oral
                                    and written agreements between the parties. It may not be
                                    changed orally but only by an agreement in writing signed by
                                    both parties.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>
</body>
</html>

